<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f5bbce04-0307-401a-9431-caf3b3e40999/resourceGroups/MMC-group1-dev001/providers/Microsoft.Web/sites/MMC-Event-Session</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mmc-event-session.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>3fb5c06f-4c0e-49a9-bf8b-0598e8335f35</ProjectGuid>
    <PublishUrl>https://mmc-event-session.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MMC-Event-Session</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>